# Скопируй как .env.dev или .env.prod и заполни значения
DATABASE_URL=
LANGFUSE_HOST=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
DEBUG=true
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
GRAFANA_PASSWORD=
