Окно профиля пользователя
<img width="653" height="1280" alt="image" src="https://github.com/user-attachments/assets/8679afc6-025a-42ec-914c-c74501cf3c27" />
Окно редактирования профиля пользователя:
<img width="653" height="1280" alt="image" src="https://github.com/user-attachments/assets/45e6772e-9a13-4514-8fee-880e40f2bee6" />
Окно ауетинфикации пользователя в приложении:
<img width="653" height="1280" alt="image" src="https://github.com/user-attachments/assets/5d3d9ad1-0069-499c-8bf5-a1f15bd0ad1e" />
Окно регистрации пользователя в приложении:
<img width="653" height="1280" alt="image" src="https://github.com/user-attachments/assets/81eb8c1e-71e1-4898-a5d5-d525a55df18f" />
Окно выбора цели:
<img width="653" height="1280" alt="image" src="https://github.com/user-attachments/assets/1f86d9af-cb07-4b15-8362-e4908d82919a" />
Окно ввода предпочтений:
<img width="653" height="1280" alt="image" src="https://github.com/user-attachments/assets/13215793-567f-408f-8988-cae9eeec2641" />
Окно ввода бюджета:
<img width="653" height="1280" alt="image" src="https://github.com/user-attachments/assets/3deb4522-1ca7-49a9-8589-db05d2c609d9" />
Окно сгенерированного плана:
<img width="653" height="1280" alt="image" src="https://github.com/user-attachments/assets/9d1b16f2-e3cf-482f-94e1-9f03bd490b25" />
Окно сохраненных планов:
<img width="653" height="1280" alt="image" src="https://github.com/user-attachments/assets/3ad9cb31-eb00-43f6-8ad3-9256a04713bc" />
