openapi: 3.0.0
info:
  title: Meal Planner API
  version: 1.0.0
  description: |
    API for meal planning application with AI.
    Generates personalized meal plans, manages user profile and shopping lists.
  contact:
    name: API Support
    email: support@mealplanner.com

servers:
  - url: https://api.mealplanner.com/v1
    description: Production server
  - url: https://staging-api.mealplanner.com/v1
    description: Staging server

paths:
  # ==================== AUTHENTICATION ====================
  /auth/register:
    post:
      summary: Register new user
      description: Create new user account
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistration'
            example:
              email: "user@example.com"
              password: "SecurePass123"
              username: "john_doe"
              name: "John"
              surname: "Doe"
      responses:
        '201':
          description: User successfully registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/UserExistsError'

  /auth/login:
    post:
      summary: User login
      description: Authenticate user
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/InvalidCredentials'

  # ==================== USER PROFILE ====================
  /user/profile:
    get:
      summary: Get user profile
      description: Get user profile information
      tags:
        - User
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      summary: Update user profile
      description: Update user data (weight, height, age, goals)
      tags:
        - User
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileUpdate'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'

  # ==================== MEAL PLAN GENERATION ====================
  /meal-plan/generate:
    post:
      summary: Generate meal plan (Main Functionality)
      description: Create personalized meal plan using AI/LLM based on user preferences, allergies, budget and available products from database
      tags:
        - Meal Plans
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanGenerationRequest'
            example:
              goal: "weight_loss"
              allergies: ["nuts", "seafood"]
              likes: ["chicken", "vegetables"]
              dislikes: ["mushrooms"]
              minBudget: 50.0
              maxBudget: 100.0
              days: 7
              mealsPerDay: 4
      responses:
        '200':
          description: Meal plan generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanGenerationResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "INVALID_BUDGET"
                message: "Budget range is invalid (minBudget must be ≤ maxBudget)"
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /meal-plan/saved:
    get:
      summary: Get saved meal plans
      description: Get all saved meal plans for the current user
      tags:
        - Meal Plans
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Saved plans retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedPlansResponse'
        '404':
          description: No plans found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "NO_PLANS_FOUND"
                message: "You don't have any saved meal plans"

    post:
      summary: Save generated meal plan
      description: Save generated meal plan to user's account
      tags:
        - Meal Plans
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanSaveRequest'
      responses:
        '201':
          description: Plan saved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanSaveResponse'

  /meal-plan/saved/{planId}:
    get:
      summary: Get meal plan details
      description: Get full details of a saved meal plan
      tags:
        - Meal Plans
      security:
        - BearerAuth: []
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Plan details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanDetail'
        '404':
          $ref: '#/components/responses/PlanNotFound'

    delete:
      summary: Delete saved meal plan
      description: Delete a saved meal plan
      tags:
        - Meal Plans
      security:
        - BearerAuth: []
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Plan deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  deleted:
                    type: boolean
        '404':
          $ref: '#/components/responses/PlanNotFound'

  # ==================== SHOPPING LISTS ====================
  /meal-plan/{planId}/shopping-list:
    get:
      summary: Get shopping list for plan
      description: Generate optimized shopping list for a meal plan
      tags:
        - Shopping
      security:
        - BearerAuth: []
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Shopping list generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShoppingListResponse'

  # ==================== PRODUCTS DATABASE ====================
  /products:
    get:
      summary: Get available products from database
      description: Get all available products from application database with prices and nutritional information
      tags:
        - Products
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of available products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsResponse'

  /products/search:
    get:
      summary: Search products
      description: Search products by name or category
      tags:
        - Products
      security:
        - BearerAuth: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
            enum: [vegetables, fruits, meat, fish, dairy, grains, legumes, nuts, spices, other]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of matching products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsResponse'

components:
  schemas:
    # Authentication
    UserRegistration:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        username:
          type: string
        name:
          type: string
        surname:
          type: string
        weight:
          type: integer
        height:
          type: integer
        age:
          type: integer

    UserLogin:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        token:
          type: string
        user:
          type: object
          properties:
            userId:
              type: integer
            email:
              type: string
            username:
              type: string
            name:
              type: string
            surname:
              type: string

    # User Profile
    UserProfile:
      type: object
      properties:
        userId:
          type: integer
        email:
          type: string
        username:
          type: string
        name:
          type: string
        surname:
          type: string
        weight:
          type: integer
        height:
          type: integer
        age:
          type: integer
        gender:
          type: string
          enum: [male, female, other]
        activityLevel:
          type: string
          enum: [sedentary, light, moderate, active, very_active]
        dailyCalorieGoal:
          type: integer
        dailyProteinGoal:
          type: integer
        dailyCarbsGoal:
          type: integer
        dailyFatGoal:
          type: integer
        isVegetarian:
          type: boolean
        isVegan:
          type: boolean
        isGlutenFree:
          type: boolean
        isDairyFree:
          type: boolean
        isNutFree:
          type: boolean
        budgetPerWeek:
          type: number
          format: double
        createdAt:
          type: string
          format: date-time
        lastLogin:
          type: string
          format: date-time

    UserProfileUpdate:
      type: object
      properties:
        name:
          type: string
        surname:
          type: string
        weight:
          type: integer
        height:
          type: integer
        age:
          type: integer
        gender:
          type: string
        activityLevel:
          type: string
        dailyCalorieGoal:
          type: integer
        isVegetarian:
          type: boolean
        isVegan:
          type: boolean
        isGlutenFree:
          type: boolean
        isDairyFree:
          type: boolean
        isNutFree:
          type: boolean
        budgetPerWeek:
          type: number

    # Meal Plan Generation (Main Request/Response)
    MealPlanGenerationRequest:
      type: object
      required:
        - goal
        - minBudget
        - maxBudget
      properties:
        goal:
          type: string
          enum: [weight_loss, weight_gain, healthy_eating, muscle_gain]
          description: User's goal from the app
        allergies:
          type: array
          items:
            type: string
          description: User allergies from profile
          example: ["dairy", "nuts", "gluten", "seafood"]
        likes:
          type: array
          items:
            type: string
          description: Products user likes from profile
          example: ["chicken", "rice", "vegetables", "fruits"]
        dislikes:
          type: array
          items:
            type: string
          description: Products user dislikes from profile
          example: ["fish", "mushrooms", "olives"]
        minBudget:
          type: number
          format: double
          minimum: 0
          description: Minimum weekly budget
        maxBudget:
          type: number
          format: double
          minimum: 0
          description: Maximum weekly budget
        days:
          type: integer
          minimum: 1
          maximum: 7
          default: 7
          description: Number of days in plan
        mealsPerDay:
          type: integer
          minimum: 3
          maximum: 5
          default: 4
          description: Meals per day

    MealPlanGenerationResponse:
      type: object
      properties:
        success:
          type: boolean
        plan:
          $ref: '#/components/schemas/MealPlan'
        totalCost:
          type: number
          format: double
        caloriesPerDay:
          type: number
        nutritionSummary:
          $ref: '#/components/schemas/NutritionSummary'

    MealPlan:
      type: object
      properties:
        days:
          type: array
          items:
            $ref: '#/components/schemas/DayPlan'
        shoppingList:
          type: array
          items:
            $ref: '#/components/schemas/ShoppingItem'
        totalCost:
          type: number
          format: double
        weeklyNutrition:
          $ref: '#/components/schemas/NutritionSummary'

    DayPlan:
      type: object
      properties:
        dayNumber:
          type: integer
        date:
          type: string
          format: date
        meals:
          type: array
          items:
            $ref: '#/components/schemas/Meal'
        dailyCost:
          type: number
          format: double
        dailyNutrition:
          $ref: '#/components/schemas/Nutrition'

    Meal:
      type: object
      properties:
        type:
          type: string
          enum: [breakfast, lunch, dinner, snack]
        name:
          type: string
        description:
          type: string
        ingredients:
          type: array
          items:
            $ref: '#/components/schemas/Ingredient'
        instructions:
          type: string
        preparationTime:
          type: integer
        calories:
          type: integer
        nutrition:
          $ref: '#/components/schemas/Nutrition'
        cost:
          type: number
          format: double

    Ingredient:
      type: object
      properties:
        productId:
          type: integer
        productName:
          type: string
        quantity:
          type: number
          format: double
        unit:
          type: string
        cost:
          type: number
          format: double

    ShoppingItem:
      type: object
      properties:
        productId:
          type: integer
        productName:
          type: string
        totalQuantity:
          type: number
          format: double
        unit:
          type: string
        totalCost:
          type: number
          format: double
        daysNeeded:
          type: array
          items:
            type: integer

    Nutrition:
      type: object
      properties:
        calories:
          type: integer
        protein:
          type: number
          format: double
        carbs:
          type: number
          format: double
        fat:
          type: number
          format: double

    NutritionSummary:
      type: object
      properties:
        totalCalories:
          type: integer
        averageDailyCalories:
          type: integer
        proteinPercentage:
          type: number
          format: double
        carbsPercentage:
          type: number
          format: double
        fatPercentage:
          type: number
          format: double

    # Save/Load Meal Plans
    MealPlanSaveRequest:
      type: object
      required:
        - planName
        - planData
      properties:
        planName:
          type: string
        planData:
          type: string
          description: JSON string of the generated meal plan

    MealPlanSaveResponse:
      type: object
      properties:
        planId:
          type: integer
        message:
          type: string
        savedAt:
          type: string
          format: date-time

    SavedPlansResponse:
      type: object
      properties:
        plans:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              planName:
                type: string
              goal:
                type: string
              createdAt:
                type: string
                format: date-time
        total:
          type: integer

    MealPlanDetail:
      type: object
      allOf:
        - $ref: '#/components/schemas/MealPlan'
        - type: object
          properties:
            planId:
              type: integer
            planName:
              type: string
            goal:
              type: string
            allergies:
              type: string
            likes:
              type: string
            dislikes:
              type: string
            minBudget:
              type: number
            maxBudget:
              type: number
            createdAt:
              type: string
              format: date-time

    # Shopping Lists
    ShoppingListResponse:
      type: object
      properties:
        planId:
          type: integer
        totalEstimatedCost:
          type: number
        items:
          type: array
          items:
            $ref: '#/components/schemas/ShoppingItem'
        optimizationTips:
          type: array
          items:
            type: string

    # Products Database (from ProductData.kt)
    Product:
      type: object
      properties:
        name:
          type: string
        category:
          type: string
        unit:
          type: string
        pricePerUnit:
          type: number
          format: double
        caloriesPerUnit:
          type: integer
        proteinPerUnit:
          type: number
          format: double
        carbsPerUnit:
          type: number
          format: double
        fatPerUnit:
          type: number
          format: double

    ProductsResponse:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        totalCount:
          type: integer

    # Errors
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
        requestId:
          type: string

  responses:
    ValidationError:
      description: Data validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "VALIDATION_ERROR"
            message: "Invalid email format"

    UserExistsError:
      description: User already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "USER_EXISTS"
            message: "User with this email already registered"

    InvalidCredentials:
      description: Invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "INVALID_CREDENTIALS"
            message: "Invalid email or password"

    UnauthorizedError:
      description: Unauthorized access
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    PlanNotFound:
      description: Meal plan not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "PLAN_NOT_FOUND"
            message: "Meal plan not found"

    RateLimitExceeded:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "RATE_LIMIT_EXCEEDED"
            message: "Rate limit exceeded for AI requests"

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

x-rate-limit-global:
  requests: 1000
  window: 3600
