name: CI CD Pipeline

on: push
  #push:
    #branches:
      #- dev
  #pull_request:
    #branches:
      #- dev

jobs:
  lint:
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Cache pip
        id: cache-pips
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install deps
        run: pip install -r requirements.txt
      - name: Lint
        run: ruff check services/backend/app --fix
      - name: Formatting
        run: black --check services/backend/app
  test:
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Cache pip
        id: cache-pips
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install deps
        run: pip install -r requirements.txt
      - name: Test
        run: pytest -v --disable-warnings --maxfail=1 --cov=services/backend/app services/backend/tests